<h2>Login<mat-icon>perm_identity</mat-icon></h2>
<form  #formcontacto="ngForm" (ngSubmit)="onSubmit(formcontacto.value)" >
    <p>
        <mat-form-field>
            <input matInput name="user" ngModel
                type="text"
                placeholder="Usuario">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="pass" ngModel
                type="password"
                placeholder="Contraseña">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Ingresar</button>
        &nbsp;
        <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
    </p>
</form>

